.chat
  .header
    .header__box
      %p.header__box__user-name
        ChatApp
      %ul.header__box__menu
        %li.list
          = link_to '#' do
            = icon('fa', 'edit',class: 'icon')
        %li.list
          = link_to "#" do
            = icon('fa', 'cog',class: 'icon')

  .groups
    .group
      .group__group-name
        test
      .group__last-message
        test





          
